@import "tailwindcss";

.nav-btn {
    @apply px-5 py-2 rounded-2xl text-white font-medium bg-gradient-to-r from-emerald-600 to-teal-500 shadow-md transition-all duration-300 hover:from-teal-500 hover:to-emerald-600 hover:-translate-y-0.5 hover:shadow-xl active:scale-95;
}

.login-btn {
    @apply from-indigo-600 to-purple-600;
}

.logo-btn {
    @apply from-amber-500 to-orange-500 text-black font-bold;
}

.mobile-btn {
    @apply w-full py-3 rounded-xl text-white font-semibold bg-gradient-to-r from-emerald-600 to-teal-500 shadow-md active:scale-95;
}